@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

@layer components {
  .base {
    @apply max-w-screen-xl mx-auto w-full overflow-hidden text-sm bg-[#F6F6F6]
  }
}